body{
    /* background-color: #004eff; */
}

.label-image{
    position: absolute;
    right: 104px;
    font-size: 23px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.entete_navigation {
    width: 95%;
    margin: auto;
    /* background: #f4f4f4e8; */
}
.menu {
    list-style: none;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 5px;
    font-family: sans-serif;
    background: rgb(243 243 243);
    color: #2d0101;
}
a{
   text-decoration: none;
}
.menu:hover{
    background: rgb(3, 179, 249);
    cursor: pointer;
    padding: 10px 5px;
    color: rgb(255, 255, 255);
}
.Leslien_de_Navigation{
    display: flex;
}
.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
}

.logo {
    width: 7%;
    border-radius: 50%;
}
.paroisse{
    text-align: center;
    color: #004eff;
    font-family: sans-serif;
    font-weight: bold;
}

.formulaire_saire_enregistrement {
    background: rgb(255, 255, 255);
    width: 90%;
    margin: auto;
    border-radius: 10px;
    border: 6px solid #0040ff9c;
    padding: 10px;
}
.modifier_formulaire_saire_enregistrement{
    margin-top: 20px;
    background: rgb(255, 255, 255);
    width: 80%;
    margin: auto;
    border-radius: 10px;
    border: 6px solid #0040ff9c;
    padding: 10px;
}
.titre{
    background-color: #0140ff;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 20px;
}
.champ_jour,#image_ajouter,.champ_saisi_date,.champ_modifier {
    width: 30%;
    height: 60px;
    margin: 5px;
    font-family: sans-serif;
    font-size: 19px;
    font-weight: bold;
}
.file{
    display: none;
}
.champ_saisi {
    padding: 6px;
    width: 36%;
    height: 60px;
    margin: 5px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: -1px 1px 5px 1px;
    
}
.champ_saisi_heure{
    height: 60px;
    width: 10%;
    margin: 5px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: -1px 1px 5px 1px;

}

.formulaire_saire {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.gestion_bouton{
    display: flex;
    justify-content: space-between;
    margin: 1px 20px;
}
.moins {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3%;
    height: 65px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: red;
    cursor: pointer;
}

.enregistrer,.valider_modification {
    width: 14%;
    height: 50px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 6px 1px;
    background-color: #0140ff;
    color: #ffff;
}

.plus,.ajouter {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 60px;
    font-weight: bold;
    background-color: #004eff;
    color: #ffff;
}



.affiche_programme_semaine {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 92%;
    background: white;
    border: solid 5px rgb(0, 8, 255);
    border-radius: 10px;
    margin: 14px auto;
}


.afficher_programme{
    display: flex;
    flex-direction: row;
   
    
}
.affiche_programme{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    
}
.disposition_afficher {
    display: flex;
    justify-content: center;
}

.jour_image{
    display: flex;
    flex-direction: row;
}
.nom_theme:hover{
    height: 100%;
}

.nom_theme {
    width: 360px;
    height: 65px;
    overflow: scroll;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    padding: 8px;
    border: 2px solid rgb(177, 188, 166);
    margin: 3px;
}
.jour_date_heure {
    width: 100px;
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    padding: 8px;
    border: 2px solid rgb(177, 188, 166);
    margin: 3px;
    cursor: pointer;
    
}

.modifier{
    background: rgb(36, 54, 255);
    color: beige;
    cursor: pointer;
    
}
.supprimer {
    background: rgb(255, 0, 0);
    color: azure;
    cursor: pointer;
   
}

.tableau{
    display: flex;
    flex-direction: row;
}

.tableau_nom_them{
    display: flex;
    flex-direction: column;
}

.jour_date_image{
    width: 100px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8px;
    margin: 3px;
    border: 2px solid rgb(177, 188, 166);
}
.jour_date_image img{
    width: 100%;
    height: 100%;
}
.hum,.gestion{
    display: flex;
    background-color: aquamarine;
}
.jour_date_modifier_supprimer_image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    border: 2px solid rgb(177, 188, 166);
}

.modifier_activite{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(255, 17, 17, 0.3);
    height: 100%;
    width: 100%;
	display: none;
}

.confiermer{
    height: 300px;
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 17% auto;
}

.confiermer p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 119px;
    margin-top: 50px;
}
.non,.non_modifier {
    padding: 12px;
    background: rgb(19, 106, 255);
    font-size: 25px;
    color: white;
    cursor: pointer;
    font-family: cursive;
}
.oui,.oui_modifier {
    padding: 12px;
    background: rgb(255, 1, 1);
    font-size: 25px;
    color: rgb(207, 207, 207);
    font-family: cursive;
    cursor: pointer;
}
.confiermer_supprimer,.confiermer_modifier{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    
	display: none;
}
.champ_vide{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    
	display: none;
}
.alerte_champ_vide{
    height: 300px;
    width: 54%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 17% auto;
}
.recommence{
    padding: 9px 32px;
    background: rgb(19, 106, 255);
    font-size: 25px;
    color: white;
    cursor: pointer;
    font-family: cursive;

}