
body {
	font-family: 'Source code pro', Calibri, serif;
	margin: 0px;
	padding: 0px;
}
.logo {
    width: 100%;
    border-radius: 50%;
    height: 80px;
}
.toggle{
    display: none;
}
.head {
    padding: 1px 19px;
    display: flex;
    justify-content: space-between;
    background: #2525ff;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    height: 80px;
}

/* nav {
	width: 100%; 
	 background-color: #000080;
} */

nav>ul {
	margin: 0px;
	padding: 0px;
}

nav>ul::after {
	content: "";
	display: block;
	clear: both;
}

nav>ul>li {
	float: left;
	position: relative;
	list-style-type: none;
}

nav>ul>li>a {
	padding: 20px 18px;
	color: #FFFFFF;
}

nav>ul>li:hover a {
	padding: 15px 30px 20px 30px;
}

li {
	list-style-type: none;
}

.sousmenu {
	display: none;
}

nav a {
	display: inline-block;
	text-decoration: none;
}

nav li:hover .sousmenu {
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 1000;
}

.sousmenu li {
	border-bottom: 1px solid #008000;
}

.sousmenu li a {
	padding: 15px 20px;
	font-size: 13px;
	color: #000080;
	width: 255px;
}

.menu-deroulant:hover {
	border-top: 5px solid #F1DC4F;
	background-color: RGBa(241, 211, 79, 0.15);
}

.menu-activite:hover {
	border-top: 5px solid #BBB;
	background-color: RGBa(220, 220, 200, 0.15);
}


.menu-deroulant .sousmenu {
	background-color: RGB(250, 215, 100);
}

.sousmenu li:hover a {
	color: #EEE;
	font-weight: bold;
}


.paroisse{
    text-align: center;
    color: #004eff;
    font-family: sans-serif;
    font-weight: bold;
}
.champ_saisi {
    padding: 6px;
    width: 62%;
    height: 60px;
    margin: 5px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: -1px 1px 5px 1px;
}
.label-image {
    position: absolute;
    right: 13%;
    font-size: 23px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}
#image_ajouter,#image_ajouter1,.champ_modifier {
    width: 30%;
    height: 60px;
    margin: 5px;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
}
.enregistrer, .valider_modification, .annuller_modification {
    width: 26%;
    height: 50px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 6px 1px;
    background-color: #0140ff;
    color: #ffff;
    cursor: pointer;
    /* left: 123px; */
}

.formulaire_saire_enregistrement {
    background: rgb(255, 255, 255);
    width: 90%;
    margin: auto;
    border-radius: 10px;
    border: 6px solid #0040ff9c;
    padding: 10px;
}
.modifier_formulaire_saire_enregistrement{
    margin-top: 20px;
    background: rgb(255, 255, 255);
    width: 89%;
    margin: auto;
    border-radius: 10px;
    border: 6px solid #0040ff9c;
    padding: 10px;
}
.file{
    display: none;
}
.titre{
    background-color: #0140ff;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 20px;
}
/* .champ_jour,#image_ajouter,#image_ajouter1,.champ_saisi_date,.champ_modifier {
    width: 30%;
    height: 60px;
    margin: 5px;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
} */

/* .champ_saisi {
    padding: 6px;
    width: 73%;
    height: 60px;
    margin: 5px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: -1px 1px 5px 1px;
    
} */
/* .champ_saisi_heure{
    height: 60px;
    width: 10%;
    margin: 5px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: -1px 1px 5px 1px;

} */
/* input[type="date"] {
   
    background: #0015ff80 url(../image/calendier-removebg-preview.png);
    background-size: 62px;
    background-repeat: no-repeat;
    background-position: 99%;
    font-size: 48px;
    color: white;
    border: navajowhite;
}
input[type="date"]::-webkit-calendar-picker-indicator{
    opacity: 0;
}
input[type="time"] {
    
    background: #1c00ff42 url(../image/montre2-removebg-preview.png);
    background-size: 44px;
    background-repeat: no-repeat;
    background-position: 99%;
    font-size: 31px;
    border: navajowhite;
}
input[type="time"]::-webkit-calendar-picker-indicator{
    opacity: 0;
} */

.formulaire_saire {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* .gestion_bouton{
    display: flex;
    justify-content: space-between;
    margin: 1px 20px;
}
.moins {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6%;
    margin-top: 4px;
    height: 60px;
    font-size: 64px;
    font-family: sans-serif;
    font-weight: bold;
    color: red;
    cursor: pointer;
    transition: 2s;
}
.moins:hover{
    background: red;
    color: white;
} */

/* .enregistrer,.valider_modification,.annuller_modification {
    width: 26%;
    height: 50px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 6px 1px;
    background-color: #0140ff;
    color: #ffff;
    cursor: pointer;
}

.plus,.ajouter {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 60px;
    font-weight: bold;
    background-color: #004eff;
    color: #ffff;
} */



.affiche_programme_semaine {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 92%;
    background: white;
    border: solid 5px rgb(0, 8, 255);
    border-radius: 10px;
    margin: 14px auto;
}

.afficher_programme{
    display: flex;
    flex-direction: row;
}
.affiche_programme{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}
.disposition_afficher {
    display: flex;
    justify-content: center;
    width: 100%;
}

.jour_image{
    display: flex;
    flex-direction: row;
     width: 100%;
}
.nom_theme:hover{
    height: 100%;
}
.description_titre{
    width: 605px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    padding: 8px;
    border: 2px solid rgb(177, 188, 166);
    margin: 3px;
    background: antiquewhite;
    color: blueviolet;
}
.description{
    width: 605px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    padding: 8px;
    border: 2px solid rgb(177, 188, 166);
    margin: 3px;
    color: blueviolet;
}
.edith,.delete{
    display: none;
}



.modifier_supprimer{
    width: 151px;
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    padding: 8px;
    border: 2px solid rgb(177, 188, 166);
    margin: 3px;
}
/* .jour_date_heure {
    width: 74px;
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    padding: 8px;
    border: 2px solid rgb(177, 188, 166);
    margin: 3px;
    cursor: pointer;
    
} */

.modifier{
    background: rgb(36, 54, 255);
    color: beige;
    cursor: pointer;
    
}
.supprimer {
    background: rgb(255, 0, 0);
    color: azure;
    cursor: pointer;
   
}

.tableau{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.crocher_heure{
    width: 150px

}

.description_image{
    width: 151px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8px;
    margin: 3px;
    border: 2px solid rgb(177, 188, 166);
}
.description_image img{
    width: 100%;
    height: 50%;
}
/* .hum,.gestion{
    display: flex;
    background-color: aquamarine;
} */
/* .jour_date_modifier_supprimer_image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    border: 2px solid rgb(177, 188, 166);
} */

.modifier_activite{
    top: 0;
    left: 0;
    background: rgba(255, 17, 17, 0.3);
	display: none;
}

.confiermer,.alerte_supprimer_champ{
    height: 300px;
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 17% auto;
}

.confiermer p,.alerte_supprimer_champ p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 119px;
    margin-top: 50px;
}
.non,.non_modifier,.non_supprimer_champ{
    padding: 12px;
    background: rgb(19, 106, 255);
    font-size: 25px;
    color: white;
    cursor: pointer;
    font-family: cursive;
}
.oui,.oui_modifier,.oui_supprimer_champ {
    padding: 12px;
    background: rgb(255, 1, 1);
    font-size: 25px;
    color: rgb(207, 207, 207);
    font-family: cursive;
    cursor: pointer;
}
.confiermer_supprimer,.confiermer_modifier,.suppression_champ{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    
	display: none;
}
/* .suppression_champ{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    
	display: none;
} */
.champ_vide{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    
	display: none;
}
.alerte_champ_vide{
    height: 200px;
    width: 35%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 17% auto;
    padding: 15px;
}
.alerte_champ_vide span{
    padding: 3px;
}

.alerte_champ_vide p{
    padding: 9px 32px;
    background: rgb(19, 106, 255);
    font-size: 28px;
    color: white;
    cursor: pointer;
    font-family: cursive;
}
.alerte_champ_vide p:hover{
    background: #ff8181;
}

/* .jour_date_image { */


    @media (max-width:1260px) {
        .change_pour_mobile {
            display: flex;
            flex-direction: column;
            background: #fffffff5;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 1px;
            transform: translateX(-100%);
            transition: 1s;
        }
        .change_pour_mobile li {
            border-bottom: 1px solid #008000;
        }
        .menu-activite {
            border-top: 1px solid #0026ff;
            background-color: rgb(240, 240, 246)
        }
        .menu-activite:hover {
            background-color: rgb(237 228 157 / 60%);
            /* border-top: 5px solid #0026ff;
            background-color: rgb(240, 240, 246) */
        }
        nav>ul>li>a {
            padding: 10px 17px;
            color: #5c2f0b;
        }
        .open .change_pour_mobile{
            transform: translateX(0);
            font-size: 30px;
        }
        .display_pour_mobile{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .head{
            display: flex;
            flex-direction: column;
            color: black;
            background: rgb(255, 255, 255);
        }
        .crocher {
            margin-top: 12%;
        }
        
        .sousmenu li a {
            font-size: 30px;
            width: 100%;
            width: 721px;
        }
        /* .sousmenu li a {
            width: 721px;
        } */
    
        .logo {
            width: 18%;
            border-radius: 50%;
            z-index: 1;
            height:90%;
            margin: 10px 1px;
        }
        .paroisse {
            margin-top: 90px;
        }
        .open .label-image{
            z-index: -1;
        }
        .toggle{
            display: block;
            z-index: 1;
            color: rgb(0, 0, 0);
            margin: 10px 1px;
        }
        .ouvrir{
            display: block;
        }
        .ferme{
            display: none !important;
        }
        .open .ouvrir{
             display: none;
        }
        .open .ferme{
            display: block !important;
            color: rgb(0, 4, 255);
        }
        .open .date_description {
            z-index: -1;
        }
    
        .toggle{
            font-size: 90px;
        }
        .champ_saisi {
            width: 92%;
        }
        .label-image {
            top: 436px;
            color: rgb(255, 0, 0);
            right: 9%;
            font-size: 32px;
        }

        .affiche_programmess_jour_image {
            width: 95%;
        }
        .description_titre {
            width: 60%;
        }
        .modifier_supprimer {
            width: 16%;
        }
        .description {
            width: 55%;
        }
        .description_image {
            width: 15%;
        }
        .confiermer, .alerte_supprimer_champ {
            height: 300px;
            width: 46%;
            padding: 10px;
            margin-top: 50%;
        }
        .alerte_champ_vide {
            height: 200px;
            width: 46%;
            margin-top: 50%;
        }
        .champ_jour, #image_ajouter, #image_ajouter1, .champ_saisi_date, .champ_modifier {
            width: 95%;
            margin: 25px;
        }
        nav>ul>li:hover a {
            padding: 10px 15px 10px 15px;
        }

    }

    @media (max-width:500px) {
        .titre {
            font-size: 14px;
        }
        .open .change_pour_mobile {
            font-size: 16px;
        }
        .sousmenu li a {
            font-size: 14px;
            width: 90%;
        }
        .toggle {
            font-size: 30px;
        }
        .paroisse {
            margin-top: 50px;
            font-size: 22px;
        }
        .description_image {
            display: none;
        }
        .label-image {
            top: 381px;
            font-size: 21px;
        }
        .enregistrer {
            width: 52%;
        }

        /* .jour_date {
            width: 10%;
            font-size: 11px;
            font-family: sans-serif;
            font-weight: bold;
        } */
        .description_titre {
            width: 70%;
        }
        .description {
            width: 70%;
        }
        .modifier_supprimer,.modifier_supprimer,.jour_date_image,.jour_date_image img{
            display: none;
        }
        .delete {
            display: flex;
            justify-content: center;
            align-items: center;
            background: red;
            width: 10%;
            color: white;
            font-size: 25px;
            margin: 2px;
        }
        .edith {
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgb(5, 22, 255);
            width: 10%;
            color: white;
            font-size: 25px;
            margin: 2px;
        }
        .champ_modifier,#image_ajouter1 {
            width: 92%;
        }
       .valider_modification{
            width: 46%;
       }

       .confiermer, .alerte_supprimer_champ {
        height: 200px;
        width: 78%;
        padding: 10px;
    }

    .alerte_champ_vide {
        height: 200px;
        width: 72%;
    }
}

@media (max-width:400px) {
    .paroisse {
        margin-top: 20px;
        font-size: 16px;
    }
    .toggle {
        font-size: 30px;
    }
    .titre {
        font-size: 10px;
    }
    .champ_jour {
        font-size: 13px;
    }
    input[type="date"] {
        background-size: 40px;
        font-size: 30px;
    }
    .label-image {
        top: 383px;
        font-size: 21px;
    }
    .champ_saisi {
        font-size: 12px;
    }
    input[type="time"] {
        width: 65%;
        height: 44px;
    }
    .moins {
        margin: 3px;
        width: 17%;
        font-size: 46px;
        height: 43px;
    }
   
    .enregistrer {
        width: 62%;
        font-size: 16px;
    }
    .gestion_bouton {
        margin: 1px 12px;
    }


}

@media (max-width:350px) {
    .open .change_pour_mobile {
        font-size: 12px;
    }
    .paroisse {
        margin-top: 0px;
    }
    .sousmenu li a {
        font-size: 11px;
        padding: 0px;
        width: 90%;
    }
    nav>ul>li:hover a {
        padding: 10px 15px 10px 15px;
    }

    .confiermer, .alerte_supprimer_champ {
        height: 178px;
        width: 82%;
        padding: 15px;
    }
}